.wrap {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.grid {
  padding: 10px; /* Column Gutter*/
  float: left;
  box-sizing: border-box;
}

.row {
  margin-bottom: 5px;
}

/*Clear Fix*/
.row:after {
    content:"";
    display: table ;
    clear:both;
}

.grid-12 {
  width: 960px;
}

.grid-11 {
  width: 880px;
}

.grid-10 {
  width: 800px;
}

.grid-9 {
  width: 720px;
}

.grid-8 {
  width: 640px;
}

.grid-7 {
  width: 560px;
}

.grid-6 {
  width: 480px; 
}

.grid-5 {
  width: 400px;
}

.grid-4 {
  width: 320px;
}

.grid-3 {
  width: 240px;
}

.grid-2 {
  width: 160px;
}

.grid-1 {
  width: 80px;
}


@media screen and (max-width: 970px) {
    .grid-12 {
    width: 100%;
  }

  .grid-11 {
    width: 91.63%;
  }

  .grid-10 {
    width: 83.33%;
  }

  .grid-9 {
    width: 74.97%;
  }

  .grid-8 {
    width: 66.64%;
  }

  .grid-7 {
    width: 58.31%;
  }

  .grid-6 {
    width: 49.98%; 
  }

  .grid-5 {
    width: 41.65%;
  }

  .grid-4 {
    width: 33.32%;
  }

  .grid-3 {
    width: 25%;
  }

  .grid-2 {
    width: 16.66%;
  }

  .grid-1 {
    width: 8.33%;
  }
}

@media screen and (max-width: 670px) {
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    width: 100%;
  }
}